
.wrapper{
    border: 1px solid #cccbc4;
    margin: 20px auto;
}

.course-title{

  background: #fff;
border-bottom: 2px solid #cccbc4;
  margin: 10px 20px;
  font-weight: 700;
  font-size: 20px;
}
.course-objective{

    background: #fff;
    
    margin: 10px 20px;

}
.table-content{
    margin: 10px 5%;
    border: 2px solid #b2b3e7;

}
.video-link{
    display: flex;
    
}
.video-link h5{
   font-size: 15px;
    color: rgb(3, 11, 121);
}
.video-link h5:hover{
    font-size: 17px;
     color: rgb(6, 85, 160);
 }
.course-requirement{
    border: 1px solid #cfdbdb;

   margin: 20px 5%;
   padding: 20px 30px;
}
.description{
    border: 1px solid #cfdbdb;

    margin: 20px 5%;
    padding: 20px 30px;
}
.comment{
    border: 1px solid #cfdbdb;
    height: 100px;
}